.todo-page .pagination {
  justify-content: center;
  padding: 0 15%;
}

.todo-page .pagination > li.page-item,
.todo-page .pagination > li.page-link {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 1.5em;
  max-width: 4em;
  text-align: center;
}
